@charset "UTF-8";
@media screen and (min-width:459px) and (max-width:767px){
    header>h1{
        transform: translate(-10%,13%);
    }
    section#login{
        width: 258px;
    }
    
}
@media screen and (min-width:768px) and (max-width:992px){
    header>h1{
        transform: translate(-16%,100%);
    }
    body{
        background-image: linear-gradient(to right, #4d4233d7,#7964519c,#49463e);
    }
    section#login{
        width: 80vw;
    }
    section#login > div#imagens{
        float: left;
        width: 30%;
        height: 100%;
        background-position: center center;
    }
    section#login > div#formulario{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(to right, #4d4233d7,#796451be,#38362f);
    }
    header>h1{
        transform: translate(13%,100%);
    }
    section#login{
        width: 996px;
    }
    section#login > div#imagens{
        float: right;
        width: 50%;
        height: 100%;
        background-position: center center;
    }
    section#login > div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario>h1{
    font-size: 1.7em; 
    }
    div#formulario > p{
        font-size: 1.2em;
    }
form > a.botao{
    display: block;
    text-align: center;
    background-color: aqua;
}

}